*{
    margin: 0;
    padding: 0;
}
.login-container{
    margin-top: 5%;
}

.left-container{
    float: left;
}

.right-container{
    float: right;
}

.border-container{
    width: 25%;
    height: 20%;
    background-color: #fff;
    margin: 0px auto;
    border:1px solid #D3D3D3;
    border-radius: 5px;
    padding: 20px;
}

.icon-size{
    font-size: 20px;
}

.title{
    text-align: center;
}

.border-container div{
    margin-bottom: 15px;
}

.loginstyle{
    width: 100px;
    height: 20px;
    background-color: #1F811F;
}
.verify-input{
    width: 300px;
}
/*
nav
*/
.navWrap {
    position: relative;
    min-height: 100%;
}

.navbar-inverse {
    border-radius: 0px;
}

.navbar {
    height: 60px;
    line-height: 60px;
}

.navWrap .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.navbar-header {
    float: left;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.navbar:before,.navbar-header:before,.nav:before,.container:before,.row:before,.navbar:after,.navbar-header:after,.nav:after,.container:after,.row:after {
    display: table;
    content: " ";
}

.navbar>.container .navbar-brand {
    margin-left: -15px;
}

.navbar-brand {
    color: #9d9d9d;
}

.logo {
    height: 60px;
    width: 60px;
    padding: 12px 15px 18px 15px;
}

.navbar-brand {
    height: 60px;
    line-height: 25px;
}

.navbar-brand {
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    height: 60px;
    line-height: 25px;
    height: 60px;
    line-height: 25px;
    font-family: "Microsoft YaHei";
}

.navbar-nav li a {
    height: 60px;
    line-height: 27px;
    font-size: 14px;
}

.logo {
    height: 60px;
    width: 60px;
    padding: 12px 15px 18px 15px;
}

.navbar-brand {
    height: 60px;
    line-height: 25px;
}

.navbar-brand {
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    height: 60px;
    line-height: 25px;
    height: 60px;
    line-height: 25px;
    font-family: "Microsoft YaHei";
}

.atext{

}

.atext:hover{
    text-decoration: none;
}

.headertext{
    color: #ffffff;
}

.headertext:hover{
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
}
.headertext:link {color:#ffffff;}     /* 未被访问的链接     */
.headertext:visited {color: #ffffff;}  /* 已被访问过的链接    */
.headertext:active {color:#ffffff}   /* 鼠标点中激活链接    */

ul{ width:400px; margin:0px; padding:0px;  text-align:left;}
li{ width:50px;  float:left;list-style: none;}

.loginstyle-div{
    width: 200px;
    padding-top: 10px;
}

.loginstyle-div div{
    padding-top: 30px;
}

.loginstyle-div div span{
    color: #5B5B5B;
}

/*dailyMovie模块*/
.movie{
    width: 300px;
    height: 500px;
    margin-left:80px;
    margin-right:20px;
    margin-bottom:20px;
    float: left;
}
.cs{
    width: 300px;
    height: 444px;
    color: #0f0f0f;
    margin-top: -498px;
    position: relative;
    background:#737373;
    opacity: 0;
    display: block;
    font-size: 14px;
    transition: 0.3s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
}

.movie:hover .cs{
    color: #656e73;
    opacity: 0.6;
}
