<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!--配置SpringMVC-->

    <!--开启SpringMVC注解模式-->
    <mvc:annotation-driven/>

    <!--静态资源默认配置-->
    <mvc:default-servlet-handler />
    <mvc:resources location="resources/" mapping="/resources/**"/>

    <!-- 配置Swagger -->
    <bean class="com.mangofactory.swagger.configuration.SpringSwaggerConfig"/>
    <bean class="com.kevin.config.SwaggerConfig"/>

    <mvc:resources location="WEB-INF/html/swagger/" mapping="/swagger/**"/>

    <!-- 配置kaptcha -->
    <!--kaptcha.border  是否有边框  默认为true  我们可以自己设置yes，no-->
    <!--kaptcha.border.color   边框颜色   默认为Color.BLACK-->
    <!--kaptcha.border.thickness  边框粗细度  默认为1-->
    <!--kaptcha.producer.impl   验证码生成器  默认为DefaultKaptcha-->
    <!--kaptcha.textproducer.impl   验证码文本生成器  默认为DefaultTextCreator-->
    <!--kaptcha.textproducer.char.string   验证码文本字符内容范围  默认为abcde2345678gfynmnpwx-->
    <!--kaptcha.textproducer.char.length   验证码文本字符长度  默认为5-->
    <!--kaptcha.textproducer.font.names    验证码文本字体样式  默认为new Font("Arial", 1, fontSize), new Font("Courier", 1, fontSize)-->
    <!--kaptcha.textproducer.font.size   验证码文本字符大小  默认为40-->
    <!--kaptcha.textproducer.font.color  验证码文本字符颜色  默认为Color.BLACK-->
    <!--kaptcha.textproducer.char.space  验证码文本字符间距  默认为2-->
    <!--kaptcha.noise.impl    验证码噪点生成对象  默认为DefaultNoise-->
    <!--kaptcha.noise.color   验证码噪点颜色   默认为Color.BLACK-->
    <!--kaptcha.obscurificator.impl   验证码样式引擎  默认为WaterRipple-->
    <!--kaptcha.word.impl   验证码文本字符渲染   默认为DefaultWordRenderer-->
    <!--kaptcha.background.impl   验证码背景生成器   默认为DefaultBackground-->
    <!--kaptcha.background.clear.from   验证码背景颜色渐进   默认为Color.LIGHT_GRAY-->
    <!--kaptcha.background.clear.to   验证码背景颜色渐进   默认为Color.WHITE-->
    <!--kaptcha.image.width   验证码图片宽度  默认为200-->
    <!--kaptcha.image.height  验证码图片高度  默认为50-->
    <bean id="captchaProducer" class="com.google.code.kaptcha.impl.DefaultKaptcha">
        <property name="config">
            <bean class="com.google.code.kaptcha.util.Config">
                <constructor-arg>
                    <props>
                        <prop key="kaptcha.border">yes</prop>
                        <prop key="kaptcha.border.color">105,179,90</prop>
                        <prop key="kaptcha.textproducer.font.color">blue</prop>
                        <prop key="kaptcha.image.width">125</prop>
                        <prop key="kaptcha.image.height">45</prop>
                        <prop key="kaptcha.textproducer.font.size">45</prop>
                        <prop key="kaptcha.textproducer.char.length">4</prop>
                        <prop key="kaptcha.textproducer.font.names">宋体,楷体,微软雅黑</prop>
                    </props>
                </constructor-arg>
            </bean>
        </property>
    </bean>

    <!--暂不考虑：配置使用fastjson,代替默认的jackson-->
    <!--<mvc:annotation-driven>-->
        <!--<mvc:message-converters register-defaults="true">-->
            <!--<ref bean="stringHttpMessageConverter" />-->
            <!--<ref bean="fastJsonHttpMessageConverter" />-->
        <!--</mvc:message-converters>-->
    <!--</mvc:annotation-driven>-->

    <!--<bean id="stringHttpMessageConverter"-->
          <!--class="org.springframework.http.converter.StringHttpMessageConverter">-->
        <!--<constructor-arg value="UTF-8" index="0"></constructor-arg>-->
        <!--<property name="supportedMediaTypes">-->
            <!--<list>-->
                <!--<value>text/plain;charset=UTF-8</value>-->
            <!--</list>-->
        <!--</property>-->
    <!--</bean>-->

    <!--<bean id="fastJsonHttpMessageConverter" class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter4">-->
        <!--<property name="supportedMediaTypes">-->
            <!--<list>-->
                <!--<value>text/html;charset=UTF-8</value>-->
                <!--<value>application/json;charset=UTF-8</value>-->
            <!--</list>-->
        <!--</property>-->
        <!--<property name="fastJsonConfig">-->
            <!--<bean class="com.alibaba.fastjson.support.config.FastJsonConfig">-->
                <!--<property name="features">-->
                    <!--<list>-->
                        <!--&lt;!&ndash; TODO：这里以后根据需求配置 &ndash;&gt;-->
                        <!--<value>AllowArbitraryCommas</value>-->
                        <!--<value>AllowUnQuotedFieldNames</value>-->
                        <!--<value>DisableCircularReferenceDetect</value>-->
                    <!--</list>-->
                <!--</property>-->
                <!--<property name="dateFormat" value="yyyy-MM-dd HH:mm:ss"></property>-->
            <!--</bean>-->
        <!--</property>-->
    <!--</bean>-->

    <!--配置ViewResolver-->
    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/html/"/>
        <property name="suffix" value=".html"/>
    </bean>

    <!-- 扫描web相关的bean -->
    <context:component-scan base-package="com.kevin.mirs.web"/>

    <!-- 扫描OAuth 相关配置 -->
    <context:component-scan base-package="com.kevin.oauth.config"/>

</beans>